<%- include("partials/header.ejs") %>

<div class="nav-container">
    <h4>FAQs</h4>
    <p class="heading-nav">What is MyBlog?</p>
    <p>MyBlog is a simple blogging platform where users can read and share articles on different topics. It allows people to explore ideas, learn new things, and stay updated with interesting content.</p>

    <p class="heading-nav">Who can write posts on MyBlog?</p>
    <p>Anyone who wants to share their ideas, knowledge, or experiences can create blog posts using this platform. It provides a simple space where users can express their thoughts, share useful information, and connect with others through meaningful content.</p>

    <p class="heading-nav">How can I create a blog post?</p>
    <p>You can create a blog post by going to the Home Page, entering the title, description, content and author name, and then clicking the Create button.</p>

    <p class="heading-nav">How can I view, edit, or delete a blog post?</p>
    <p>
    You can view all blog posts by clicking on the Blogs tab in the navigation bar. 
    From there, you can read the blogs, and you also have the option to edit or delete a blog post if needed.
    </p>
</div>


<%- include("partials/footer.ejs") %>
