<%- include("partials/header.ejs") %>

<div class="container">
    <p class="heading-main">Welcome To MyBlog, a simple blogging platform where users can read and share interesting articles on different topics.</p>
    <a href="/create">
        <button class="btn btn-primary rounded-circle p-3 lh-1" type="button">+</button>
    </a>
    <p>Create Post</p>
</div>


<%- include("partials/footer.ejs") %>