.nav-container{
    text-align: justify;
    max-width: 1000px;
}

@media(max-width: 1100px){
    .nav-container{
    margin-left: 50px;
    margin-right: 50px;
}
}

.heading-nav{
    font-weight: 400;
    font-size: large;
}

.nav-container > h4{
    text-align: center;
    margin-bottom: 30px;
}